@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}

.container {
    height: 80vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
}

.title {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Silkscreen;
    font-size: 2rem;
    font-weight: 900;
    color: whitesmoke;
}

.box-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 0;
}

.box {
    width: 30%;
    height: 30%;
    border: none;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    cursor: pointer;
    color: whitesmoke;
    font-family: Silkscreen;
    font-size: 6rem;
    font-weight: 900;
    box-shadow: 0.1px 0.1px 5px whitesmoke, -0.1px -0.1px 5px whitesmoke;
    transition: all ease 0.2s;
}

.new-reset {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#new-game {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    color: rgb(36, 36, 36);
    font-size: 1.2rem;
    font-weight: 900;
    transition: all ease 0.2s;
    font-family: Silkscreen;
}

#new-game:hover {
    scale: 1.1;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

#reset-game {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    color: rgb(36, 36, 36);
    font-size: 1.2rem;
    font-weight: 900;
    transition: all ease 0.2s;
    font-family: Silkscreen;
}

#reset-game:hover {
    scale: 1.1;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

#winner {
    width: 100%;
    height: 70%;
    font-family: Silkscreen;
}
